<html>
<head>

</head>

<body>
    <h2>Candidato</h2>

    <form action="/enviar" method="POST">
        <label for="fname">Nome:</label><br>
        <input type="text" id="fname" name="nome"><br>
        <label for="fname">Idade:</label><br>
        <input type="text" id="fidade" name="idade"><br>
        <label for="fname">Email:</label><br>
        <input type="text" id="femail" name="email"><br>
        <label for="fname">Telefone:</label><br>
        <input type="text" id="ftel" name="telefone"><br>

        <input type="submit" class="btn btn-success" value="Enviar"/>
    </form>
</body>

</html>

